<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>问卷</title>
   <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
<div class="main">
<img src="../static/imgs/logo.jpg" id="logo">
    <form>
        <label>您和她的关系是：<input name="relation"></label>
        <label>您最想对她说的一句话是：<input name=""></label>
    </form>
</div>
<script src="../static/js/jquery-1.11.1.js"></script>
<script>
    $(window).ready(function(jQuery){

    })
</script>
</body>
</html>